<h4 class="mb-4">Find Your Next Opportunity</h4>
          <div class="search-filters">
            <div class="search-box">
              <i class="fas fa-search search-icon"></i>
              <input type="text" class="search-input" placeholder="Search for skills or job roles...">
            </div>
            <div class="location-box">
              <i class="fas fa-map-marker-alt location-icon"></i>
              <input type="text" class="location-input" placeholder="Location">
            </div>
            <div class="remote-checkbox">
              <input type="checkbox" id="remote" class="remote-input">
              <label for="remote" class="remote-label">
                <i class="fas fa-laptop-house me-2"></i>
                Remote Jobs Only
              </label>
            </div>
            <button class="search-button">Search Jobs</button>
          </div>